@if (report(); as report) {
    <mat-card appearance="filled">
        <mat-card-header>
            <mat-card-title>
                <div class="game-info-header">
                    <div>Game Info</div>
                    <button matButton [matMenuTriggerFor]="menu">FIBA Docs</button>
                    <mat-menu #menu="matMenu">
                        <a href="https://library.fibairef.basketball/doc/Z05xejI2YmIrMzJVNnY2a09hYTNZdz09" target="_blank" mat-menu-item>
                            <mat-icon>open_in_new</mat-icon>
                            Basic Officiating Terminology
                        </a>
                        <a href="https://library.fibairef.basketball/doc/MlVhTUhWZzlsaVFLaFNBWFFRSnZmUT09" target="_blank" mat-menu-item>
                            <mat-icon>open_in_new</mat-icon>
                            Individual Officiating Techniques (IOT)
                        </a>
                    </mat-menu>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="game-info-container">
                <span>Game Number: {{ report.game.gameNumber }}</span>
                <span>Competition: {{ report.game.competition }}</span>
                <span>Date: {{ report.game.date | date:'dd.MM.yyyy' }}</span>
                <span>Result: {{ report.game.result }}</span>
                <span>Team A: {{ report.game.homeTeam }}</span>
                <span>Team B: {{ report.game.guestTeam }}</span>
            </div>
            <div class="game-info-container">
                <span class="coach">Coach: {{ report.coachName }}</span>
            </div>
            @if (report.game.officiatingMode === OfficiatingMode.OFFICIATING_3PO) {
                <div class="game-info-container">
                    <span [ngClass]="report.game.referee1Id === report.reporteeId ? 'reportee' : ''">Crew Chief: {{ report.game.referee1Name }} ({{ report.game.referee1Rank }})</span>
                    <span [ngClass]="report.game.referee2Id === report.reporteeId ? 'reportee' : ''">Umpire 1: {{ report.game.referee2Name }} ({{ report.game.referee2Rank }})</span>
                    <span [ngClass]="report.game.referee3Id === report.reporteeId ? 'reportee' : ''">Umpire 2: {{ report.game.referee3Name }} ({{ report.game.referee3Rank }})</span>
                </div>
            } @else {
                <div class="game-info-container">
                    <span [ngClass]="report.game.referee1Id === report.reporteeId ? 'reportee' : ''">Referee 1: {{ report.game.referee1Name }} ({{ report.game.referee1Rank }})</span>
                    <span [ngClass]="report.game.referee2Id === report.reporteeId ? 'reportee' : ''">Referee 2: {{ report.game.referee2Name }} ({{ report.game.referee2Rank }})</span>
                </div>
            }

            @if (showOverallScore()) {
                <div class="overall-score">Overall Rating: {{ ScoreUtil.score(report) }}</div>
            }
        </mat-card-content>
    </mat-card>
}
