@use '../../variables';
@use '../../responsive';

.search-container,
.overview-filter-container {
  display: flex;
  flex-direction: column;

  @include responsive.responsive(gt-sm) {
    flex-direction: row;
    gap: variables.$padding;
  }
}
