@use '../../variables';
@use '../../responsive';

.search-container,
.overview-filter-container {
  display: flex;
  flex-direction: column;
  gap: variables.$padding;

  @include responsive.responsive(gt-sm) {
    flex-direction: row;
  }
}

.overview-filter-container {
  align-items: baseline;
}

.reports-container {
  width: 100%;
  overflow-x: auto;

  table {
    min-width: 600px;
    width: 100%;
    border-collapse: separate;
  }

  .current-user {
    color: var(--mat-sys-primary);
  }
}
