<mat-toolbar>
    <mat-toolbar-row>
        <div class="header-title">Referee Coach ProBasket</div>
        <span class="header-spacer"></span>
        @if (auth.isAuthenticated()) {
            @if (!isOverview()) {
                <button mat-icon-button [routerLink]="['/', PATH_OVERVIEW]" matTooltip="Home">
                    <mat-icon>home</mat-icon>
                </button>
            }
            <button mat-icon-button [matMenuTriggerFor]="navMenu" matTooltip="Navigate">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button [matTooltip]="auth.username() + ' (' + auth.roles().join(', ')+ ')'" aria-label="User">
                <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button (click)="logout()" matTooltip="Logout" aria-label="Logout">
                <mat-icon>logout</mat-icon>
            </button>
        }

        <mat-menu #navMenu="matMenu">
            <button type="button" mat-menu-item [routerLink]="['/', PATH_OVERVIEW]">
                <mat-icon>home</mat-icon>
                <span>Overview</span>
            </button>
            <button type="button" mat-menu-item [routerLink]="['/', PATH_TAG_SEARCH]">
                <mat-icon>search</mat-icon>
                <span>Tag Search</span>
            </button>
            @if (auth.isAdmin()) {
                <button type="button" mat-menu-item [routerLink]="['/', PATH_ADMIN]">
                    <mat-icon>supervisor_account</mat-icon>
                    <span>Admin</span>
                </button>
                <button type="button" mat-menu-item [routerLink]="['/', PATH_EXPORT]">
                    <mat-icon>cloud_download</mat-icon>
                    <span>Export</span>
                </button>
            }
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
