@use "../../responsive";
@use "../../variables";

.title-container,
.actions-container {
  display: flex;
  align-items: center;
  gap: variables.$padding;
}

.comment-container {
  display: flex;
  flex-direction: column;
  margin-bottom: variables.$padding;

  @include responsive.responsive('gt-sm') {
    flex-direction: row;
    gap: variables.$padding;
  }

  > * {
    flex: 1;
  }

  .criteria-container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;

    @include responsive.responsive('gt-sm') {
      grid-template-columns: 2fr 5fr;
    }
  }
}

.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: variables.$padding;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: variables.$padding;

  @include responsive.responsive('gt-md') {
    flex-direction: row;
  }

  .video-player-container {
    display: flex;
    flex-direction: column;
    gap: variables.$half-padding;
    max-width: 720px;
  }

  .video-comments-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: variables.$padding;
    scroll-behavior: smooth;
    max-height: 90vh;
    overflow-y: auto;

    .mat-icon {
      &.important {
        color: var(--mat-sys-primary);
      }
    }

    mat-card {
      margin: 0;
    }
  }

  .tags-container {
    font-size: var(--mat-sys-label-medium-size);
  }
}
