<app-header/>
<app-loading-bar [show]="showLoadingBar()"/>

@if (report(); as report) {
    <app-game-info [report]="report" [showOverallScore]="false" [refereeCoachPlus]="authService.isRefereeCoachPlus()"></app-game-info>

    @if (report.reportType === ReportType.REFEREE_VIDEO_REPORT) {
        <mat-card appearance="filled">
            <mat-card-actions class="actions-container">
                <button mat-flat-button (click)="finishReply()" [disabled]="saving() || !unsavedChanges()">Finish Replying</button>
                <button mat-stroked-button (click)="view()" [disabled]="saving() || unsavedChanges()">View Report</button>
            </mat-card-actions>
        </mat-card>

        <mat-card appearance="filled">
            <mat-card-header>
                <mat-card-title>
                    Video
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="video-container">
                    <div class="video-player-container">
                        <app-video-player #videoPlayer
                                          [youtubeId]="report.youtubeId"
                                          [asportId]="report.asportId"
                                          [videoWidth]="videoWidth()"
                                          [videoHeight]="videoHeight()"/>
                        @if (report.userIsReportee) {
                            <button (click)="addVideoComment()" color="primary" mat-flat-button>
                                Create additional comment for current timestamp
                            </button>
                        }
                    </div>
                    <div class="video-comments-container" #videoCommentsContainer>
                        @for (videoComment of report.videoComments; track videoComment; let i = $index) {
                            <mat-card appearance="outlined" [ngClass]="{'important': requiresReply(videoComment)}">
                                <mat-card-header>
                                    <mat-card-title class="title-container">
                                        <div>Video Comment #{{ i + 1 }}</div>
                                        @if (requiresReply(videoComment)) {
                                            <mat-icon class="important" matTooltip="This comment requires a reply from you.">
                                                priority_high
                                            </mat-icon>
                                        }
                                        @if (flaggedForReply(videoComment)) {
                                            <mat-icon matTooltip="This comment requires a reply from the referee.">
                                                priority_high
                                            </mat-icon>
                                        }
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{ videoComment.comment }}</p>
                                    @if (videoComment.tags.length > 0) {
                                        <div class="tags-container">Tags: {{ tagNames(videoComment) }}</div>
                                    }
                                    @if (videoComment.replies.length > 0) {
                                        <hr/>
                                    }
                                    @for (reply of videoComment.replies; track reply) {
                                        <div class="reply-container">
                                            <div class="reply-detail-container" [class]="reply.id === 0 ? 'new-reply' : ''">
                                                <span class="repliedBy">{{ reply.createdBy }}</span>
                                                <span class="repliedAt">{{ reply.createdAt | date:'dd.MM.yyyy HH:mm' }}</span>
                                                @if (reply.id === 0) {
                                                    <button mat-icon-button (click)="deleteReply(videoComment, reply)">
                                                        <mat-icon>delete</mat-icon>
                                                    </button>
                                                }
                                            </div>
                                            <p class="reply">{{ reply.reply }}</p>
                                        </div>
                                    }
                                </mat-card-content>
                                <mat-card-actions class="actions-container">
                                    <button (click)="play(videoComment.timestampInSeconds)" mat-stroked-button>
                                        Jump to Scene
                                    </button>
                                    <button (click)="reply(videoComment)" mat-stroked-button>
                                        Reply
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        }

                        @for (newVideoComment of newComments(); track newVideoComment) {
                            <mat-card appearance="outlined">
                                <mat-card-header>
                                    <mat-card-title class="title-container">
                                        <div>New Video Comment</div>
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Comment</mat-label>
                                        <textarea [(ngModel)]="newVideoComment.comment"
                                                  (ngModelChange)="onChange()"
                                                  maxlength="1024"
                                                  rows="2"
                                                  cdkTextareaAutosize
                                                  matInput></textarea>
                                    </mat-form-field>
                                </mat-card-content>
                                <mat-card-actions class="actions-container">
                                    <button (click)="play(newVideoComment.timestampInSeconds)" mat-stroked-button>
                                        Jump to Scene
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        }
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    }
}

<div #widthMeasurement></div>
