<app-header/>
<app-loading-bar [show]="showLoadingBar()"/>

@if (report(); as report) {
    <app-game-info [report]="report" [showOverallScore]="true"></app-game-info>

    @for (comment of report.comments; track comment.id) {
        <mat-card appearance="filled">
            <mat-card-header>
                <mat-card-title>{{ comment.typeDescription }}</mat-card-title>
                @if (comment.scoreRequired) {
                    <mat-card-subtitle>Rating: {{ ScoreUtil.score(comment) }}</mat-card-subtitle>
                }
            </mat-card-header>
            <mat-card-content class="mat-typography">
                <p class="comment">{{ comment.comment }}</p>
                @if (hasCriteriaInState(comment, CriteriaState.PLUS)) {
                    <div class="criteria-container">
                        <mat-icon>thumb_up</mat-icon>
                        @for (criteria of comment.criteria; track criteria.id) {
                            @if (criteria.state === CriteriaState.PLUS) {
                                <span>{{ criteria.description }}</span>
                            }
                        }
                    </div>
                }

                @if (hasCriteriaInState(comment, CriteriaState.MINUS)) {
                    <div class="criteria-container">
                        <mat-icon>thumb_down</mat-icon>
                        @for (criteria of comment.criteria; track criteria.id) {
                            @if (criteria.state === CriteriaState.MINUS) {
                                <span>{{ criteria.description }}</span>
                            }
                        }
                    </div>
                }
            </mat-card-content>
        </mat-card>
    }

    @if (report.reportType === ReportType.REFEREE_VIDEO_REPORT && report.youtubeId) {
        @if (report.finished) {
            <mat-card appearance="filled">
                <mat-card-actions class="actions-container">
                    <button mat-stroked-button (click)="discuss()">Discuss Video Comments</button>
                </mat-card-actions>
            </mat-card>
        }

        <mat-card appearance="filled">
            <mat-card-header>
                <mat-card-title>
                    Video
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="video-container">
                    <div class="video-player-container">
                        <app-video-player #videoPlayer
                                          [youtubeId]="report.youtubeId"
                                          [asportId]="report.asportId"
                                          [videoWidth]="videoWidth()"
                                          [videoHeight]="videoHeight()"/>
                    </div>
                    <div class="video-comments-container">
                        @for (videoComment of report.videoComments; track videoComment; let i = $index) {
                            <mat-card appearance="outlined" [ngClass]="{'important': requiresReply(videoComment)}">
                                <mat-card-header>
                                    <mat-card-title class="title-container">
                                        <div>Video Comment #{{ i + 1 }}</div>
                                        @if (requiresReply(videoComment)) {
                                            <mat-icon class="important"
                                                      matTooltip="This comment requires a reply from you. Switch to the discussion-mode to do so.">
                                                priority_high
                                            </mat-icon>
                                        }
                                        @if (flaggedForReply(videoComment)) {
                                            <mat-icon matTooltip="This comment requires a reply from the referee. Switch to the discussion-mode to view it.">
                                                priority_high
                                            </mat-icon>
                                        }
                                    </mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <p>{{ videoComment.comment }}</p>
                                    @if (videoComment.tags.length > 0) {
                                        <div class="tags-container">Tags: {{ tagNames(videoComment) }}</div>
                                    }
                                </mat-card-content>
                                <mat-card-actions>
                                    <button (click)="play(videoComment.timestampInSeconds)" mat-stroked-button>
                                        Jump to Scene
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        }
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    }
}

<div #widthMeasurement></div>
