@use "../../responsive";
@use "../../variables";

.comment {
  white-space: pre-line;
}

.title-container,
.actions-container {
  display: flex;
  align-items: center;
  gap: variables.$padding;
}

.criteria-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0 variables.$padding;
  align-items: center;
  margin-top: variables.$padding;

  .internal {
    color: var(--mat-sys-tertiary);
  }
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: variables.$padding;

  @include responsive.responsive('gt-md') {
    flex-direction: row;
  }

  .video-player-container {
    display: flex;
    flex-direction: column;
    gap: variables.$half-padding;
    max-width: 720px;
  }

  .video-comments-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: variables.$padding;
    scroll-behavior: smooth;
    max-height: 90vh;
    overflow-y: auto;

    .mat-icon {
      &.important {
        color: var(--mat-sys-primary);
      }
    }

    .mat-icon {
      &.important {
        color: var(--mat-sys-error);
      }
    }

    mat-card {
      margin: 0;

      &.important {
        border: solid 1px var(--mat-sys-error);
      }
    }
  }

  .tags-container {
    font-size: var(--mat-sys-label-medium-size);
  }
}
