@use "../../responsive";
@use "../../variables";

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: variables.$padding;
  gap: variables.$half-padding;

  @include responsive.responsive('gt-sm') {
    width: 33%;
  }

  @include responsive.responsive('gt-md') {
    width: 25%;
  }
}
