<mat-form-field appearance="outline">
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipList aria-label="Tags" [disabled]="disabled()">
        @for (tag of selectedTags; track tag) {
            <mat-chip-row (removed)="removeTag(tag)">
                {{ tag.name }}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        }
        <input placeholder="Add tag..."
               #tagInput
               [formControl]="tagController"
               [matAutocomplete]="auto"
               [matChipInputFor]="chipList">
    </mat-chip-grid>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event)">
        @for (tag of filteredTags; track tag) {
            <mat-option [value]="tag">
                {{ tag.name }}
            </mat-option>
        }
    </mat-autocomplete>
</mat-form-field>
