@use '../../variables';
@use '../../responsive';

.table-container {
  width: 100%;
  overflow-x: auto;

  table {
    min-width: 600px;
    width: 100%;
    border-collapse: separate;
  }
}

.error {
  color: var(--mat-sys-error);
  margin-bottom: variables.$half-padding;
}
